# Archivos y carpetas de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de compilación
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

# Archivos grandes y comprimidos
*.zip
*.rar
*.7z

# Archivos de caché específicos que causaron el error
*.ipch
